<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NTalk - Contacts </title>
</head>
<body>
	<header>
		<h1> NTalk </h1>
		<h4> Welcome! </h4>
	</header>
	<section>
		<form action = "/enter" method="post">
			<input type = "text" name = "user[name]" placeholder="Name"><br>
			<input type = "text" name = "user[email]" placeholder="Email"><br>
			<button type = "submit"> Enter </button>
		</form>
	</section>
	<footer>
		<small>
			NTalk - Contacts
		</small>
	</footer>
</body>
</html>