<%- include('../header.ejs'); %>
	<header>
		<h1> NTalk </h1>
		<h4> Contacts list </h4>
	</header>
	<section>
		<p> Welcome <%- user.name %></p>
	</section>

<%- include('../exit.ejs'); %>
<%- include('../footer.ejs'); %>